<!doctype html>
<html lang="en">
<head>
    <title>Console Deals</title>
    <link rel="stylesheet" type= "text/css" href="./static/stylesheets/main.css?q=3">
    <script src='./static/scripts/main.js?q=3'></script>
</head>
<body>
    <img class="logo" src="./static/images/controllerSmall.png" alt="image of controller"> 
    <div class="search_field">
        <select id="type_select">
            <option value="ps4">PS4</option>
            <option value="ps5">PS5</option>
            <option value="xbox1">XBOXONE</option>
            <option value="seriesx">SERIES X</option>
        </select>
        <input type="text" id="search_input" placeholder="Console game name..."/>
        <input type="button" id="search_button" value="SEARCH" onclick=scrape()>
    </div>
    <div class="result_field">
        <table class="result_table">
            <tr class="result_headers">
                <th>Vendor Name</th>
                <th>Price</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Walmart</td>
                <td>$9.99</td>
                <td>walmart.com</td>
            </tr>
            <tr>
                <td>Gamestop</td>
                <td>$15.99</td>
                <td>gamestop.com</td>
            </tr>
            <tr>
                <td>Bestbuy</td>
                <td>$19.99</td>
                <td>bestbuy.com</td>
            </tr>
        </table>
    </div>
    <p class="disclaimer">DISCLAIMER: This site is not affiliated with Sony, Microsoft, or any of the vendor sites being listed.</p>
</body>
</html>